Lab2Solutions.java
--- a/file:///c%3A/Users/luna2/OneDrive/Desktop/CPS310/Labs/Lab2/Week_2/Lab2Solutions.java

+++ b/file:///c%3A/Users/luna2/OneDrive/Desktop/CPS310/Labs/Lab2/Week_2/Lab2Solutions.java

Lab2Solutions.class

FileReading.java

Lab3.java

Main.java
Rectangle.java
Shape.java
Triangle.java
Main.java
Color.java
TransparentColor.java

Boat.java
Car.java
Lab6Main.java
Vehicle.java

// Ignore the Practice folder and its contents
Practice/